@{
    Layout = null;
}

<form id="frmOrderInit" action="~/Order/Init" method="post">
    <div class="modal-body">
        <div class="form-group row">
            <label class="control-label col-sm-3">Tỉnh/thành:</label>
            <div class="col-sm-9">
                <select class="form-control select2" name="deliveryProvince">
                    <option value="" selected>-- Chọn tỉnh/thành --</option>
                    @foreach (var item in SV21T1020228.BusinessLayers.CommonDataService.ListOfProvinces())
                    {
                        <option value="@item.ProvinceName">@item.ProvinceName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label class="control-label col-sm-3">Địa chỉ:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="deliveryAddress" placeholder="Địa chỉ nhận hàng" />
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <span id="error-message" style="color: #f00"></span>
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i> Cập nhật
        </button>
    </div>
</form>

<style>
    .select2-dropdown {
        z-index: 1060;
    }
</style>

<script>
    $(document).ready(function() {
        $('.select2').select2();

        $("#frmOrderInit").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).prop("action"),
                method: $(this).prop("method"),
                data: $(this).serializeArray(),
                success: function (result) {
                    if (isNaN(result)) {
                        $("#error-message").html(result);
                    } else {
                        window.location.href = "/Order/Details/" + result;
                    }
                }
            });
        })

        $('.btn-close').click(function() {
            $('#dialogModal').modal('hide');
        });
    })
</script>