@{
    ViewBag.Title = "Đổi mật khẩu";
}


<div id="userAccount" class="container-fluid px-2 pb-5">
	<div class="row d-flex justify-content-center">
		<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 nav flex-column nav-pills me-3">
			<a href="~/Account/Index" class="btn nav-link">Hồ sơ</a>
			<a href="~/Account/ChangePassword" class="btn nav-link active">Đổi mật khẩu</a>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 rounded" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);">
			<div class="card h-100">
				<div class="container py-2">
					<div class="d-flex justify-content-between">
						<h5 class="text-primary">Đổi mật khẩu</h5>
						@if (TempData["Message"] != null)
						{
							<span class="text-primary">@TempData["Message"]</span>
						}
						else
						{
							<span>@Html.ValidationMessage("Error")</span>
						}
					</div>
					<hr class="mt-0">
					<div class="row">
						<form action="~/Account/ChangePassword" class="form-horizontal" method="post">
							<div class="form-group d-flex">
								<label class="col-lg-3">Mật khẩu hiện tại:</label>
								<div class="col-lg-9">
									<input type="password" class="form-control" name="oldPassword" autofocus>
								</div>
							</div>
							<div class="form-group d-flex pt-2">
								<label class="col-lg-3">Mật khẩu mới:</label>
								<div class="col-lg-9">
									<input type="password" class="form-control" name="newPassword">
								</div>
							</div>

							<div class="form-group d-flex pt-2">
								<label class="col-lg-3">Xác nhận lại mật khẩu:</label>
								<div class="col-lg-9">
									<input type="password" class="form-control" name="confirmPassword">
								</div>
							</div>
							<div class="form-group d-flex justify-content-end pt-2">
								<input type="submit" class="btn btn-primary" value="Đổi mật khẩu">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	html {
		overflow-x: hidden;
	}
</style>