<style>
    #footer-bottom a {
        color: var(--bs-primary);
        text-decoration: none;
    }

    #footer-bottom p {
        margin-bottom: 0;
    }
</style>
<footer>
    <div id="footer-bottom">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-4 copyright">
                    <p>© 2024 <a href="~/">Ducky</a>. All rights reserved.</p>
                </div>
                <div class="col-md-8 credit-link text-start text-md-end">
                    <p>HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
                </div>
            </div>
        </div>
    </div>
</footer>